!!! 5
html(lang="en")
	head
		title LoginHistory Server
		include ../public/head.jade  
	body
		
			
		#container

			.logout 
				\(
				a(href='', onclick='logout();return false;') logout
				\)
			h1 Welcome, #{username} 	
			
			
			#loginHistory
				ul 
					each login in logins
						.login
							= login