!!! 5
html(lang="en")
  head
    title LoginHistory Server
    script(src='public/sha512.js')
    script(src='public/site.js')
  body
    h1 Please Login
    #container
      #username
        | Username:
        input#txtUsername(name='username')
      #password
        | Password:
        input#txtPassword(name='password',type='password')
      #submit
        input#btnLogin(name='login',type='submit',text='Login',onClick='login();return false;')
        