!!! 5
html(lang="en")
  head
    title LoginHistory Server
    include ../public/head.jade
  body
    #container
      h1 Login
      | Not a member?
      a(href='/register') Register Here

      .credentials
        #username
          | Username:
          input#txtUsername(name='username')
        #password
          | Password:
          input#txtPassword(name='password',type='password')
      #submit
        input#btnLogin(name='login',type='submit',value='Login',onClick='login();return false;')
        