!!! 5
html(lang="en")
  include ../public/head.jade  
  body
    
    #container
      h1 Register
      | Already Registered?
      a(href='/login') Login Here

      .credentials
        #username
          | Username:
          input#txtUsername(name='username')
        #password
          | Password:
          input#txtPassword(name='password',type='password')
      #submit
        input#btnRegister(name='register',type='submit',value='Register',onClick='register();return false;')
        