head
	title LoginHistory Server
	script(src='/public/jquery.js')
	script(src='/public/sha512.js')
	script(src='/public/site.js')
	link(href="/public/style.css", media="screen", rel="stylesheet", type="text/css")